<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="ShareFile API Test">
            <file>tests/TestClient.php</file>
            <file>tests/TestShareFileApi.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <php>
        <const name="HOSTNAME" value=""/>
        <const name="CLIENT_ID" value=""/>
        <const name="CLIENT_SECRET" value=""/>
        <const name="USERNAME" value=""/>
        <const name="PASSWORD" value=""/>
    </php>
</phpunit>
